
.wrapper {
    padding: 10px 25px 30px;
    background: linear-gradient(180deg, rgb(182, 244, 146), rgb(51, 139, 147));

}
.create {
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.answerRow {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.answerInput {
    width: 40%;
    margin-right: 10px;
}

.checkbox {
    margin-right: 10px;
}

.explanationInput {
    width: 40%;
}

.generalExplanation {
    width: 100%;
    min-height: 60px;
    margin: 15px 0 20px;
}

.submitButton {
    padding: 10px 20px;
    font-size: 1em;
}

.multipleQuestionsRow {
    margin-bottom: 20px;
    cursor: default;
    max-width: fit-content;
}

.generalExplanationWrapper {
    display: flex;
    flex-direction: column;
}

#question-link {
    margin-top: 15px;
    display: block;
    font-size: larger;
}
