.btn-row {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-btn:hover {
    background-color: lightgrey; /* Change to your desired hover color */
    transform: scale(1.05);
}
